@using Datamarka_MVC.Controllers
@using Datamarka_MVC.Controllers.Identity
@using System.Security.Claims
@{
    //ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Admin Panel</h1>
    <a href="@Url.Action(nameof(UserController.List), "User")"><p>Пользователи<p></a>
    <a href="@Url.Action(nameof(ProductController.Index), "Product")"><p>Справочник продуктов<p></a>
    <a href="@Url.Action(nameof(OrderController.List), "Order")"><p>Задания на маркировку<p></a>
    <a href="@Url.Action(nameof(HomeController.Index), "Home")"><p>About Us<p></a>


</div>
