@using Datamarka_MVC.Controllers
@using Datamarka_MVC.Controllers.Identity
@using System.Security.Claims
@{
    //ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Система маркировки Datamarka</h1>

        <p>Please, <a asp-controller="Account" asp-action="Index">Выполните вход</a> или <a asp-controller="Account" asp-action="Register">зарегистрируйтесь</a> чтобы оставить заявку.<p>
    <a href="@Url.Action(nameof(HomeController.Index), "Home")"><p>О нас<p></a>


</div>
