@using Datamarka_DomainModel.Models.Identity
@using Datamarka_MVC.DataTransferObjects.Identity
<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
        <form method="post" asp-controller="account" asp-action="logout">
            <button type="submit" style="width:auto"
                    class="nav-link btn btn-link py-0">
                Выход <b>@User.Identity.Name</b>
            </button>
        </form>
        </li>
    }
    else
    {
    <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Register">Регистрация</a>
    </li>
    }

</ul>

